// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

// Color system
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$red:     #E60032; // #ff0039 Updated for Tiki to meet WCAG color contrast guidelines
$green:   #2F8712; // #3fb618 Updated for Tiki to meet WCAG color contrast guidelines

$primary: #C04402; // #CF4A02; // #fd7931;
$secondary: #A75A01; // #B25F01; // #feb768;
$success: #1B7E2B; // #1D872E; // #24a238;
$info: #0071C7; // 0089f0;
$warning: #717113; // #d0d024;
$danger: #CD322D; // #D4403A; // #d9534f;

$black: $gray-900;

$theme-colors: (
     "primary":        #C04402, // #CF4A02, // #fd7931,
     "secondary":      #A75A01, // #B25F01, // #feb768,
     "success":        #1B7E2B, // #1D872E, // #24a238,
     "info":           #0071C7, // #0089f0,
     "warning":        #717113, // #d0d024,
     "danger":         #CD322D, // #D4403A, // #d9534f,
    "light":           #ffffff,
     "dark":           #000000
);

$green-300: tint-color($green, 40%) !default; // Bootstrap 53
$red-300: tint-color($red, 40%) !default; // Bootstrap 53

$min-contrast-ratio:   3;

// Options
$enable-gradients:            true;
// Prefix for :root CSS variables

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

// Gradient
// Spacing
// Position

// Body
$body-bg: #f3f3f3;// (Actually, container bg, whereas actual body bg is #90140c;)
$body-color: #212529;

// Utilities maps

// Links
$link-color: #600000;
$link-hover-color: darken($link-color, 15%);
$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// Paragraphs
// Grid breakpoints
// Grid containers
// Grid columns
// Container padding
// Components
$component-active-color: #140000;
$component-active-bg: #fd7c32;
$border-color:                #896b6b; //$gray-300 !default;

// Typography
$font-family-sans-serif:  Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif; // Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base:              1.15rem; // Increased slightly with this change in font.

$headings-color: #8a0700;
$blockquote-footer-color: #485060;

// Tables
$table-border-color:          var(--#{$prefix}border-color);

// Buttons + Forms
// Buttons
// Forms
$input-bg: var(--#{$prefix}body-bg);
$input-border-color:                    var(--#{$prefix}border-color);
$input-group-addon-bg: #E9ECEF;
$form-text-color: var(--#{$prefix}secondary-color) !default;; // #485060;

// Form validation
$form-feedback-valid-color: #1B7E2B;
$form-feedback-invalid-color: #C9312C;

// Z-index master list
// Navs
$nav-link-color:                    #fff;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;
$nav-link-disabled-color: #666E75;

// Navbar
$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;

$navbar-dark-color:                 rgba($white, .55) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-icon-color:            $navbar-dark-color !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;
$navbar-dark-brand-color:           $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:     $navbar-dark-active-color !default;

// Tabs
//$nav-tabs-border-color: lighten( $body-bg, 90% );
//$nav-tabs-link-hover-border-color: lighten( $nav-tabs-border-color, 10% );
//$nav-tabs-active-link-hover-bg: darken( $nav-tabs-border-color, 10% );
$nav-tabs-link-active-bg: #C04802; // Actually a gradient is used but this value fixes contrast error

// Dropdowns
$dropdown-color:                    var(--#{$prefix}body-color);
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;
// Pagination

// Placeholders
// Cards
// Accordion
$accordion-color:                         var(--#{$prefix}body-color);
$accordion-bg:                            var(--#{$prefix}body-bg);
$accordion-button-active-color: #000;

//$accordion-border-width:                  $border-width !default;
$accordion-border-color:                  rgba($black, .125) !default;

// Tooltips
// Popovers
// Toasts
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
$figure-caption-color:              var(--#{$prefix}secondary-color); // #485060;

// Breadcrumbs
$breadcrumb-active-color: #687078;
// Carousel
// Spinners
// Close
$close-font-weight: bold;
$close-color: #000000;
$close-text-shadow: 0 1px 0 #ffffff;

// Offcanvas
// Code
$code-color: #c7254e;
//$kbd-bg: #f9f2f4;

$kbd-color:                         var(--#{$prefix}body-color); // !default;
$kbd-bg:                            var(--#{$prefix}body-bg);
//$kbd-color: #ffffff;
//$kbd-bg: #333333;

$pre-bg: #f5f5f5;
$pre-color: $gray-900;
$pre-border-color: #cccccc;
$pre-scrollable-max-height: 340px;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$top-navbar-bg: linear-gradient(to bottom, #040404 0%,#060606 2%,#121212 55%,#0f0f0f 57%,#030303 59%,#000000 61%,#000000 100%);
$top-navbar-link-hover-bg: linear-gradient(to bottom, #545454 0%,#4e4e4e 5%,#3d3d3d 51%,#3a3a3a 53%,#303030 54%,#2d2d2d 56%,#111111 97%,#0e0e0f 98%,#4a0000 100%);;