// Solar 5.3.3 -- This file contains variables to replace or add to those in node_modules/bootswatch/dist/sketchy/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #fdf6e3 !default;
$gray-200: #eee8d5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #839496 !default;
$gray-700: #495057 !default;
$gray-800: #073642 !default;
$gray-900: #002b36 !default;
$black:    #000 !default;

$blue:    #b58900 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d33682 !default;
$orange:  #fd7e14 !default;
$yellow:  #cb4b16 !default;
$green:   #2aa198 !default;
$teal:    #20c997 !default;
$cyan:    #268bd2 !default;

$primary:       #946F00; // $blue !default;
$secondary:     #677979; // $gray-600 !default;
$success:       #21837C; // $green !default;
$info:          #227AB9; // $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

// Prefix for :root CSS variables

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

// Body

$body-bg:                   $gray-900 !default;
$body-color:                $gray-600 !default;

// Links

$link-color:                #289F97; //$success !default;
$link-hover-color:          $link-color !default;
$link-shade-percentage:                   20% !default;

// Components

// Fonts

$font-family-sans-serif:      Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;  // "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base:              1.1rem;
// Tables
$table-color:                 var(--#{$prefix}body-color) !default;
$table-dark-color:            var(--#{$prefix}body-bg);

// Forms

$input-bg:                              #a9bdbd !default;
$input-disabled-bg:                     #657b83 !default;
$input-group-addon-color: #8B9C9C;

// Dropdowns

$dropdown-bg:                       $gray-800 !default;
$dropdown-divider-bg:               var(--#{$prefix}body-bg);
$dropdown-link-color:               var(--#{$prefix}body-color);
$dropdown-link-hover-bg:            var(--#{$prefix}body-bg);

// Navs

$nav-tabs-link-active-bg:           var(--#{$prefix}body-bg);

// Navbars

$navbar-light-color:                rgba($black, .9);
$navbar-light-active-color:         rgba($black, .7) !default;

// Pagination

// Cards

// Popovers

$popover-border-color:              var(--#{$prefix}body-bg);

// Toasts


// Modals

$modal-content-border-color:        var(--#{$prefix}body-bg);
$modal-header-border-color:         var(--#{$prefix}body-bg);

// Progress bars

// List group

// Breadcrumbs

// Close

// Code
$code-color:                      $body-color; //   $pink !default;
$pre-color:                         inherit !default;

//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file