// Sketchy 5.3.3 -- This file contains variables that override or add to those in node_modules/bootswatch/dist/sketchy/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

$theme: "sketchy" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #aaa !default;
$gray-600: #868e96 !default;
$gray-700: #555 !default;
$gray-800: #333 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $gray-800 !default;
$secondary:     $gray-700 !default;
$success:       #218739; // $green !default;
$info:          #128091; // $cyan !default;
$warning:       #946F00; // $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $gray-700 !default;

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

// Options
//Prefix
$prefix: bs-;

// Body
$body-color: $gray-800 !default;

// Links

$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// Components

// Fonts

// Tables

// Forms

$input-border-color:                var(--#{$prefix}border-color) !default; // $gray-800 !default;

// Form validation
$form-valid-color: #218739;

// Dropdowns

// Navs

// Navbar

$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           $white !default;
$navbar-dark-toggler-border-color:  $white !default;
$navbar-light-color:                $gray-800 !default;
$navbar-light-hover-color:          $gray-800 !default;
$navbar-light-active-color:         $gray-800 !default;
$navbar-light-toggler-border-color: $gray-800 !default;

// Pagination

// Cards

// Popovers

// Badges

// Toasts

// Modals

// Progress bars

// List group

// Breadcrumbs

// Close

// Code
$code-color:                      $body-color; //   $pink !default; // Bootstrap 5.3

//--------------------------- Tiki SCSS variables