// Slate 5.2.0 -- This is a copy of node_modules/bootswatch/dist/slate/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999 !default;
$gray-600: #7a8288 !default;
$gray-700: #52575c !default;
$gray-800: #3a3f44 !default;
$gray-900: #272b30 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ee5f5b !default;
$orange:  #fd7e14 !default;
$yellow:  #f89406 !default;
$green:   #62c462 !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $gray-800 !default;
$secondary:     #6E757C; // $gray-600 !default;
$success:       #328532; // $green !default;
$info:          #20809D; // $cyan !default;
$warning:       #AB6503; // $yellow !default;
$danger:        #E6251E; // $red !default;
$light:         #757575; // $gray-500; // $gray-200 !default; Darkened for WCAG compliance with #fff foreground cp;pr
$dark:          $gray-900 !default;

$min-contrast-ratio:   1.95 !default;

// Prefix for :root CSS variables

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

// Body
$body-color:                #aaa !default;

$body-secondary-color:      rgba($body-color, .75) !default;
$body-secondary-bg:         $gray-800;

$body-tertiary-color:       rgba($body-color, .5) !default;
$body-tertiary-bg:          $gray-700;

// Links
//$link-color: #9EA0A3;
$link-decoration: underline;

// Fonts

// Tables

// Buttons

// Forms

$input-bg:                              var(--#{$prefix}body-bg) !default; // $white !default;
$input-disabled-bg:                     #ccc !default;

$input-color:                           var(--#{$prefix}body-color) !default; // $gray-900 !default;
$input-group-addon-color: #CCCCCC;

// Form validation
$form-valid-color: #3FA63F;
$form-invalid-color: #EE6863;

// Dropdowns

$dropdown-link-color:               var(--#{$prefix}body-color);
$dropdown-link-hover-bg:            var(--#{$prefix}body-bg);

// Navs

$nav-link-color:                    var(--#{$prefix}link-color) !default;

// Navbar

$navbar-padding-y:                  .1px;
$navbar-dark-hover-color:           $white !default;
$navbar-light-hover-color:          $gray-800 !default;
$navbar-light-active-color:         $gray-800 !default;


// Pagination

// Cards
$card-cap-bg: #3B3F45;


// Popovers

// Toasts

// Modals

// Progress bars

// List group

// Breadcrumbs

// Code

//--------------------------- Tiki SCSS variables

//--------------------------- Additional CSS

// Increase height to compensate this theme's extra padding
.tiki .select2-container--bootstrap-5 .select2-selection {
    min-height: calc(2.2em + 0.75rem + 2px);
    border-radius: 0 !important;
}

